@font-face
{
  font-family: BeachSociety;
  src: url(./fonts/BeachSociety.ttf);
  font-weight:bold;
}

@font-face
{
  font-family: ego;
  src: url(./fonts/ego.otf);
  font-weight:bold;
}

@font-face
{
  font-family: Lactosa;
  src: url(./fonts/Lactosa.otf);
  font-weight:bold;
}

@font-face
{
  font-family: Schoolkid;
  src: url(./fonts/Schoolkid.ttf);
  font-weight:bold;
}