@import "font";
@import "margin";
@import "padding";
@import "grid";

html{
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
}
.img-responsive{
  width: 100%;
}
.k-section{
  width: 100%;
  max-width: 1200px;
  margin: 16px auto;
}
.k-section-body{
  width: 100%;
  overflow: hidden;
  padding: 50px 0;
}
.k-section-item{
  float: left;
  &:last-child{
    margin-right: 0;
  }
  h3{
    color: #566366;
  }
  p{
    color: #919191;
    line-height: 1.75;
  }
}